@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;    
}

body {
    display: inline-block;
}

section#social {
    display: inline-block;
    width: 25vw;
    height: 100vh;
    background-color: lightgray;
}

section#sobremim {
    display: inline-block;
    width: 60vw;
    height: 100vh;    
    background-color: lightgray;   
}








