@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;  
   
}

div.direito h2, h3, p {
    display: block;
}

div.direito {
    position: absolute;
    display: inline-block;
    width: 72vw;
    height: 99vh;
    margin: 5px 5px 5px 0px;      
    background-color: lightgray; 
}

div#ano {    
    display: inline-block;
    width: 380px;
    height: 140px;
    padding: 50px;
    background-color: antiquewhite;
}

div#descricao {
    position: absolute;
    display: inline-block;
    width: 380px;
    height: 140px;
    padding: 50px;
    background-color: aliceblue;
}





